#root {
  direction: rtl;
  text-align: center;
}
body{
  margin: 0;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.reports-container {
  padding: 20px;
}

.reports-table {
  width: 100%;
  border-collapse: collapse;
}

.reports-table th,
.reports-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.reports-table th {
  background-color: #1976d2;
  font-weight: bold;
}

.attachments-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.attachment-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.more-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 12px;
  color: #555;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

@keyframes pulsate {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.1);
      opacity: 0.8;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.pulsate {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: pulsate 1s infinite;
}

.pulsate.blocked {
  background-color: red;
}

.pulsate.verified {
  background-color: green;
}

.pulsate.pending {
  background-color: #ffd800;
}